@model Mtelligent.Dashboard.Web.ViewModels.CohortViewModel

@{
    string errorMessage = ViewBag.ErrorMessage ?? "";
}


<div class="content">
  <div class="row">

    <h1>Update Cohort</h1>

      @using (Html.BeginForm("Update", "Cohorts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
           @Html.AntiForgeryToken()
           @Html.ValidationSummary(true)

           @Html.HiddenFor(m => m.Id)
           @Html.HiddenFor(m => m.SelectedCohortType)

        if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        
        <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
        </div>
        </div>
        <div class="form-group">
        @Html.LabelFor(m => m.SystemName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
                @Html.TextBoxFor(m => m.SystemName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SystemName)
        </div>
        </div>
        <div class="form-group">
        @Html.LabelFor(m => m.SelectedCohortType, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
                @Html.DropDownListFor(m => m.SelectedCohortType, new SelectList(Model.CohortTypes, "Name","Name"), "Select a Type", new { @class = "form-control", disabled="disabled" })
                @Html.ValidationMessageFor(m => m.SelectedCohortType)
        </div>
        </div>
        
        @Html.Partial("Questions", Model.Properties)
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Update Cohort</button>
            </div>
        </div>  
          
      }

  </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {

            if ($("#SystemName").val() != "") {
                $("#SystemName").attr("disabled", "disabled");
                $("#SystemName").after("<input type='hidden' name='" + $("#SystemName").attr("name") + "' value='" + $("#SystemName").val() + "'>");
            }
        });
    </script>
}