@model Mtelligent.Entities.Site

@{
    string errorMessage = ViewBag.ErrorMessage ?? "";
}

<div class="content">
  <div class="row">

    <h1>Update Site</h1>

      @using (Html.BeginForm("Update", "Sites", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
           @Html.AntiForgeryToken()
           @Html.ValidationSummary(true)

           @Html.HiddenFor(m => m.Id)

        if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        
        <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Update Site</button>
            </div>
        </div>  
      }

      <hr />
          
        @if (Model.Urls.Count == 0)
        {
            <div class="alert alert-info">You currently have not configured any urls with this site. Enter a url and Click "Add Url" to add a url.</div>
        }
        else
        {
        <h2>Site Urls</h2>
            
        <table class="table table-striped">
            <tr>
                <th>Url</th>
                <th>&nbsp;</th>
            </tr>

        @foreach (var url in Model.Urls)
        {
            <tr>
                <td>@url.Url</td>
                <td><a href="#" class="btn btn-primary btn-lg active btnDeleteUrl" role="button" data-id="@url.Id">Delete</a></td>
            </tr>
            
        }
        
            </table>
        
    }

      <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="txtNewUrl" placeholder="Enter Url" style="width:500px" />             
        </div>
        <a href="#" class="btn btn-primary btn-lg active" id="btnAddUrl" role="button">Add</a>
     </form>

  </div>
</div>

@section Scripts {

    <script>
        var lastData;

        $(document).ready(function () {
            $("#btnAddUrl").click(function () {
                var newUrl = encodeURI($("#txtNewUrl").val());
                
                var siteUrl = {
                    Url: newUrl,
                    SiteId: @Model.Id,
                    Id: 0
                };
                lastData = siteUrl;
                $.ajax({
                    type: "POST",
                    url: "/Sites/AddUrl",
                    data: siteUrl,
                    success: function(data){
                        if (data != "failure"){
                            document.location.href = document.location.href;
                        }
                        else
                        {
                            alert("Error encountered");
                        }
                    }
                });

                return false;
            });

            $(".btnDeleteUrl").click(function () {
                var deleteId = $(this).attr("data-id");
                console.log(deleteId);

                var newUrl = encodeURI($("#txtNewUrl").val());
                
                var siteUrl = {
                    Id : deleteId,
                    SiteId: @Model.Id
                    };

                $.ajax({
                    type: "POST",
                    url: "/Sites/DeleteUrl",
                    data: siteUrl,
                    success: function(data){
                        if (data != "failure"){
                            document.location.href = document.location.href;
                        }
                        else
                        {
                            alert("Error encountered");
                        }
                    }
                });

                return false;
            });
        });
    </script>
}